
@{
    ViewBag.Title = "Insert";
}

<h2>Insert Product</h2>

<form method="POST" action="/product/insert">
    <div class="form-group">
        <label for="ProductId">Product Id:</label>
        <input type="text" class="form-control" id="ProductId" name="ProductId">
    </div>
    <div class="form-group">
        <label for="ProductName">Product Name:</label>
        <input type="text" class="form-control" id="ProductName" name="ProductName">
    </div>
    <!--<div class="form-group">
        <label for="CategoryId">Category Id:</label>
        <input type="text" class="form-control" id="CategoryId" name="CategoryId">
    </div>-->
    <button type="submit" class="btn btn-default">Insert New Product Category</button>
</form>


